@model Alumno

@{
    ViewData["Title"] = "Informacion Alumno";
    Layout = "_Simple";
}

<div class="text-center">
    <h1>Alumno: @ViewData["Title"] </h1>

    <b>Desde la vista normal</b>
    <p>
        Nombre: @Model.Nombre <br>
        Id:     @Model.Id
    </p>
    
    <b>Desde la vista parcial</b>
    <partial name="ObjetoEscuelaSimple" />


    <i> @ViewBag.CosaDinamica </i>
    <address>
    </address>
</div>
